.E_0{
    border-bottom:2px solid red ;
    border-width: 2px;
    display: inline-block;
    line-height: 0.85;
}
.E_1{
    border-bottom:2px solid blue ;
    border-width: 2px;
    display: inline-block;
    line-height: 0.85;
}
.E_2{
    border-bottom:2px solid green ;
    border-width: 2px;
    display: inline-block;
    line-height: 0.85;
}
.E_3{
    border-bottom:2px solid purple ;
    border-width: 2px;
    display: inline-block;
    line-height: 0.85;
}
.E_4{
    border-bottom:2px solid yellowgreen ;
    border-width: 2px;
    display: inline-block;
    line-height: 0.85;
}
.E_5{
    border-bottom:2px solid darksalmon ;
    border-width: 2px;
    display: inline-block;
    line-height: 0.85;
}
.E_6{
    border-bottom:2px solid lightseagreen ;
    border-width: 2px;
    display: inline-block;
    line-height: 0.85;
}
.E_7{
    border-bottom:2px solid indigo ;
    border-width: 2px;
    display: inline-block;
    line-height: 0.85;
}
.E_8{
    border-bottom:2px solid cornflowerblue ;
    border-width: 2px;
    display: inline-block;
    line-height: 0.85;
}
.E_9{
    border-bottom:2px solid darkorchid ;
    border-width: 2px;
    display: inline-block;
    line-height: 0.85;
}
.E_10{
    border-bottom:2px solid #cd0a0a ;
    border-width: 2px;
    display: inline-block;
    line-height: 0.85;
}
.E_11{
    border-bottom:2px solid darkcyan;
    border-width: 2px;
    display: inline-block;
    line-height: 0.85;
}
.E_12{
    border-bottom:2px solid #dad55e ;
    border-width: 2px;
    display: inline-block;
    line-height: 0.85;
}
.E_13{
    border-bottom:2px solid #372806;
    border-width: 2px;
    display: inline-block;
    line-height: 0.85;
}
.E_14{
    border-bottom:2px solid #777620 ;
    border-width: 2px;
    display: inline-block;
    line-height: 0.85;
}
.E_3{
    border-bottom:2px solid #1c94c4 ;
    border-width: 2px;
    display: inline-block;
    line-height: 0.85;
}
.E_15{
    border-bottom:2px solid  #803f1e ;
    border-width: 2px;
    display: inline-block;
    line-height: 0.85;
}
/* others entity types*/
.E_-1{
    background-color: #d49768;
}
